<strong>Olá {{ user }}</strong>
<p>Segue abaixo os dados do seu questionamento de ID {{ id }}, realizado no {{ created_at }}</p>

<strong>Questionamento: </strong><br />
<small>{{ question }}</small><br /><br />

<strong>Resposta da Escola: </strong><br />
<small>{{ answer }}</small><br /><br />


