<strong>Olá, {{ user }}</strong>
<p>Passando pra te avisar que a sua matricula no Gympoint já foi realizada!</p>
<p>Abaixo os dados do seu plano: </p>
<p>
  <strong>Plano: </strong> {{ title }} <br />
  <strong>Data/Hora do inicio: </strong> {{ start_date }} <br />
  <strong>Date/Hora do termino: </strong> {{ end_date }} <br />
  <strong>Valor do plano: </strong> R$ {{ price }},00/mês <br />
  <strong>Valor total do contrato: </strong> R$ {{ total_price }},00 <br />
  <br />
</p>